@import "./../util/mixins";
.topbar__wrapper {
  @include position(absolute);
  background: transparent;
  z-index: 100;
  height: 10vh;
  .topbar__content {
    margin: 20px 20px 0px 20px;
    @include flex(row, center, space-between);
    .icon__wrapper.left {
      margin-right: auto;
    }
    .icon__wrapper.right {
      margin-left: auto;
    }
  }
}
