@import "./../util/mixins";
.topbar__wrapper {
  position: relative;
  background: transparent;
  z-index: 100;
  .topbar__content {
    margin: 25px 25px 0px 25px;
    @include flex(row, center, space-between);
    @include position(absolute, 20px);
    .icon__wrapper.left {
      margin-right: auto;
    }
    .icon__wrapper.right {
      margin-left: auto;
    }
  }
}
