@import "./../util/mixins";

.forecast {
  @include flex(row, center, center);
  margin: 0px 70px;
  .header {
    text-align: start;
    padding: 0px 40px;
  }
  .showme__btn {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 85px;
  }
}

.forecast__wrapper {
  height: 10vh;
}
.forecast__results {
  padding-top: 50px;
  padding-left: 30px;
  width: 100%;
  .weather__info__wrapper {
    @include flex(row, center);
    width: 75%;
    .current__weather__wrapper {
      padding: 0px 20px;
      .current__weather {
        @include flex(column, start);
      }
      .icon {
        width: 15%;
      }
    }
    .weather__stats {
      width: 60%;
    }
    .info__box {
      @include flex(row, center, space-between);
      margin-bottom: 10px;

      padding: 10px;
    }
    .primary {
      background-color: $primary-color-opacity-55;
    }
    .secondary {
      background-color: $secondary-color-opacity-55;
    }
  }
}
@media (max-width: 750px) {
  .forecast {
    @include flex(column, start, center);
    .header {
      width: 100%;
      text-align: center;
      padding: 0px;
    }
    .showme__btn {
      width: 100%;
      button {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 700px) {
  .forecast__results {
    .weather__info__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .current__weather__wrapper {
        @include flex(row, center, center);
      }
      .weather__stats {
        .info__box {
          @include flex(row);
          width: 100%;
          span {
            padding: 10px;
          }
        }
      }
    }
  }
}
