@import "./../util/mixins";
.form__section {
  @include flex(column, center, center);
  padding-bottom: 10px;
}
.form__heading {
  text-align: center;
  width: 60%;
}
.form {
  padding: 30px 0px;
  input {
    margin-right: 20px;
  }
  div {
    @include flex(row);
    h3 {
      padding-right: 20px;
    }
  }
}
