@import "./../util/mixins";
.hero__wrapper {
  position: relative;
  height: 100vh;
  .hero {
    @include position(absolute, 0, 0);
    @include flex(row, center, center);
    width: 100vw;
    height: 100vh;
    background-image: url("../../../public/assets/images/hero-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
  }
}

.page__content__wrapper {
  @include position(fixed, 0, 0);
  @include flex(row, center, center);
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/assets/images/body-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}
