@import "./../util/mixins";
* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  overflow-x: hidden;
}

.page__wrapper {
  position: relative;
  .page__content__wrapper {
    position: relative;
    .page__body {
      @include flex(column, center, space-between);
      margin: 0px 20px;
    }
  }
}
